@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(36, 36, 36);
    color: white;
}

nav{
    background-color: rgb(182, 179, 179);
}

h1{
    font-family: 'Nunito', sans-serif;
}

p{
    max-width: 1000px;
}

.rockpile{
    max-height: 30px;
}

.project-link{
    color: lightskyblue;
}

.gen-link{
    color: lightskyblue;
}

.gen-link:visited{
    color: rgb(173, 139, 173);
}

.gen-link:hover{
    font-size: 20px;
}

.icon-link{
    max-width: 50px;
}

.container{
    padding-top: 40px;
}

.about-underline{
    height: 10px;
    max-width: 1000px;
    background: rgb(93,0,0);
    background: linear-gradient(90deg, rgba(93,0,0,1) 0%, rgba(232,54,0,1) 31%, rgba(255,239,0,1) 100%);
    margin-bottom: 10px;
}

.project-images{
    max-width: 300px;
    border-radius: 5px;
}

.project-column{
    margin-top: 10px;
}

#linkedinprofpic{
    max-width: 300px;
    padding-top: 30px;
}

